body {
    background-color: black;
    color: white;
}

button {
    background-color: blue;
    color: white;
}

.welcome {
    font-size: xx-large;
}

h1,
.welcome,
.bottomInfo,
.prices {
    justify-content: center;
    display: grid;
}

.userList,
.userList2 {
    height: 5vh;
}

.logIn {
    float: right;
    width: 80px;
    height: 50px;
}

.table1,
.td1,
.tr1,
.th1 {
    display: grid;
    width: 35vh;
    border-collapse: collapse;
}

.th1,
.td1 {
    border: 1px solid white;
    display: grid;
    padding: 4px;
}

.table2,
.td2,
.tr2,
.th2 {
    float: right;
    display: grid;
    width: 35vh;
    border-collapse: collapse;

}

.th2,
.td2 {
    border: 1px solid white;
    display: grid;
    padding: 4px;
}

.hr1,
.bookBtn {
    width: 500px;
}

.bottomInfo {
    font-size: x-small;
}

.about {
    cursor: pointer;
    color: blue;
}